.contributors {
    color: #777;
    font-size: 12px;
    font-size: .85714rem;
}
.wiki-block {
    clear: both;
    padding-top: 40px;
    margin-top: 40px;
    border-top: 1px solid #eaeff2;
    padding-left: 0;
    padding-right: 0;
}	